.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23272f;
  color: white;
}

.Authentication{
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

body{
  padding: 0;
  margin: 0;
}

.login, .signUp{
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.login input, .signUp input{
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.login button, .signUp button{
  margin-top: 10px;
  padding: 10px;
  background-color: #0074a6;
  color: white;
  width: 50%;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.joinGame h4{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.joinGame input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  height: 30px;
}

.joinGame button{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  flex-direction: row;
  margin-top: 10px;
  background-color: #0074a6;
  color: white;
  font-size: 1em;
}

.button{
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
